@font-face {
	font-family: 'Montserrat';
	src: url('../assets/font/Montserrat-Medium.woff') format('woff'), url('../assets/font/Montserrat-Medium.ttf') format('ttf');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../assets/font/Montserrat-Regular.woff') format('woff'), url('../assets/font/Montserrat-Regular.ttf') format('ttf');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Raleway';
	src: url('../assets/font/Raleway-Light.woff') format('woff'), url('../assets/font/Raleway-Light.ttf') format('ttf');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Raleway';
	src: url('../assets/font/Raleway-Regular.woff') format('woff'), url('../assets/font/Raleway-Regular.ttf') format('ttf');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Raleway';
	src: url('../assets/font/Raleway-Medium.woff') format('woff'), url('../assets/font/Raleway-Medium.ttf') format('ttf');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Raleway';
	src: url('../assets/font/Raleway-Bold.woff') format('woff'), url('../assets/font/Raleway-Bold.ttf') format('ttf');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Raleway';
	src: url('../assets/font/Raleway-ExtraBold.woff') format('woff'), url('../assets/font/Raleway-ExtraBold.ttf') format('ttf');
	font-style: normal;
	font-weight: 800;
}