/* here described the first tagline */
.tags {
    margin-top: 55px;
    margin-bottom: 30px;
    &-linewrapper {
        position: relative;

        &-content {
            overflow: hidden;
            padding-left: 20px;
        }

        &-leftarrow,
        &-rightarrow {
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            padding: 0px 5px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;

            transition: .4s ease;

            &_hidden{
                opacity: 0;
                cursor: auto;
                pointer-events: none;
            }
        }

        &-leftarrow {
            left: -15px;
        }

        &-rightarrow {
            right: -15px;
        }

        & + & {
            margin-top: 30px;
        }
    }

    &-line {
        position: relative;
        display: flex;
        transition: .3s ease;

        &-item {
            transition: 0.5s ease;
            white-space: nowrap;
            display: inline-block;
            padding: 4px 14px;
            margin-right: 20px;
            border: 1px solid #3ea3f2;
            cursor: pointer;

            color: rgba($color: #3e3f43, $alpha: 0.7);
            font-family: Raleway;
            font-size: 18px;
            font-weight: 300;

            &:hover{
                background-color: #3ea3f2;
                color: white;
            }

            &-close {
                transform: scale(0);
                transition: .3s;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height: 23px;
                width: 0px;
                border: none;
                outline: none;
                border-radius: 0px;
                background-color: white;
                cursor: pointer;
                margin-left: 10px;
            }

            &:hover &-close{
                transform: scale(1);
                width: 23px;
            }
        }
    }

    &-linewrapper{
        &::before {
            z-index: 1;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 20px;
            background-image: linear-gradient(
                90deg,
                rgba(248, 248, 248, 1)  0%,
                rgba(248, 248, 248, 1)  50%,
                transparent 100%
            );
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: calc(100% - 20px);
            width: 20px;
            background-image: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(248, 248, 248, 1)  50%,
                rgba(248, 248, 248, 1) 100%
            );
        }
    }

    &-linewrapper &-line {
        .tags-line-item-close {
            display: none;
        }
        .tags-line-item_selected {
            transform: scale(0);
            margin-right: 0;
        }
    }

}


/* here described the last tagline */
.footerTags {
    margin-top: 30px;
    margin-bottom: 30px;
    &-content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        &-item{

            position: relative;
            padding: 0px 15px;
            opacity: 0.7;
            color: #3e3f43 !important;
            font-family: Raleway;
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 10px;
        }

        &-item_notfirst::before{
            content: "|";
            position: absolute;
            color: #3ea3f2;
            left: -1.5px;
        }
    }
}
